*,html,div,p,td,tr,body,#header,html,:root,#main,.Article p,.Article ul,.Article ol,.bg-light,.pln,.oo-ui-textInputWidget {
   background-color: black !important;
	background-image: none !important;
   color: #bbbbbb;
}

a:visited {
  color: #b68800 !important;
}

pre,code,input,select,button,var,textarea,.menu-item,.select-menu-item,.btn,textarea,.color-bg-default,Article pre,.Article code,.prettyprint,pre.result,.custom-input.theme-m .input.error,.theme-m {
   background-color: #090909 !important;
	background-image: none !important;
   color: #00bb99;
}

h1,h2,h3,h4 {
	background-color: black !important;
	color: #e02020 !important;
}

a {
	color: #5050f0 !important;
	background-color: black !important;
}
